// colors
$color--blue--1: #82C6EC;
$color--blue--2: #456CB0;

$color--black: #132834;
$color--violet: #CA86CC;
$color--yellow: #FFD162;

$color--pink--1: #FFCABE;
$color--pink--2: #FFDECE;

$color--red--1: #EF5051;
$color--red--2: #F87867;

$color--white: white;
$color--gray: #F1F1F1;

// font sizes
$font-size--10: .6250em;
$font--size--16: 1em;
$font--size--20: 1.2500em;
$font--size--25: 1.5625em;
$font--size--30: 2em;
$font--size--35: 2.3333333333333335em;
$font--size--40: 2.5em;
$font--size--50: 3.125em;

// radius sizes
$radius--default: 100px;
$radius--variation--1: 14px;